@main {
    <select name="sort">
        <option value="newest">新着</option>
        <option value="absolute">差額</option>
        <option value="ratios">差額率</option>
    </select>
    <ul>
        <li>
            <img src="http://ecx.images-amazon.com/images/I/612SntTgSoL._SL1500_.jpg" width="200">
            <div class="title">TWINBIRD サイクロンスティック型クリーナー スケルトンブラック TC-E123SBK</div>
            <div class="current-price">￥ 3,100</div><div class="postage">通常配送無料</div>
            avg<div class="price-avg">￥ 3,150</div>
            min<div class="price-min">￥ 2,846</div>
        </li>
        <li>
            <img src="http://ecx.images-amazon.com/images/I/81LhTOQwZrL._SL1500_.jpg" width="200">
            <div class="title">手裏剣戦隊ニンニンジャー 変身忍刀 忍者一番刀</div>
            <div class="current-price">￥ 3,800</div><div class="postage">通常配送無料</div>
            avg<div class="price-avg">￥ 3,384</div>
            min<div class="price-min">￥ 3,000</div>
        </li>
    </ul>
}